/*Core styles*/
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #fafafa;
    color: #292b2c;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    /*padding: 1em 0;*/
}
h1 {
    font-size: 2rem;
}
h2, h3 {
    margin: 0;
    padding: 1em 0;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.25;
    color: #595959;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: ##232121;
    color: #00ab6b;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #00ab6b;
    margin: .5em 0;
    border-radius:30px;
    cursor:pointer;
}

.btn:hover {
    background: #00ab6b;
    color: #fff;
}

/*Header Showcase*/
#showcase {
    min-height: 450px;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: url('../img/6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#introduction .content-wrap {
    padding: 0 1.5em;
}

/*introduction*/
#introduction {
    background: #fff;
    color: #8f8f8f;
    padding-bottom: 2em;
}

/*services*/
#services {
    padding: 2em 1em 1em;
}

#services ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#services li {
    margin-bottom: 1em;
    background: #fff;
    color: #8f8f8f;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}

.card-content {
    padding: 1.5em;
}

/*description*/
#description {
    background: #fff;
    color: #8f8f8f;
    padding: 2em;
}

/*contact / boxes*/
#contact .box {
    padding: 2em;
    /*background-color: #fafafa;*/
    color: #8f8f8f;
}

#contact .box:first-child {
    background: #00ab6b;
    color: #fff;
}

#contact .box:first-child h2 {
    color: #fff;
}

/*footer*/
#main-footer {
    padding: 2em;
    background: #000;
    color: #978F8F;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.05) !important;
    font-size: 0.8rem;
}

#main-footer a {
    color: #00ab6b;
    text-decoration: none;
}

/*Media queries*/
@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
    }

    #introduction, .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #introduction, .content-text p {
        padding-top: 0;
    }

    .content-wrap,
    #services ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #services ul {
        display: flex;
        justify-content: space-around;
    }

    #services li {
        width: 23%;
    }
}